

<div class="page-content">
    <div class="content-sticky-footer">
        <div class="row mx-0 mb-3" *ngFor="let kid of kids">
            <div class="col-12 mb-8">
                <div class="card">
                    <div class="card-body text-center">
                        <figure class="avatar avatar-80 mb-3" title="Malaika Bhavtar"><img src="../../assets/imgs/1.png" alt=""> </figure>
                        <h6>Kid2</h6>
                        <p class="text-secondary">
                            <span appTranslator word="nursary"></span>
                        </p>
                        <a (click)="navigateToDailyReport(kid)" class="btn btn-block btn-warning btn-sm rounded">
                            <span appTranslator word="dailyReport"></span>
                        </a>
                        <a class="btn btn-block disabled btn-info btn-sm rounded">
                            <span appTranslator word="notifications"></span>
                        </a>
                        <a class="btn btn-block disabled btn-success btn-sm rounded">
                            <span appTranslator word="monthlyReport"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="col-12 mb-8">
                <div class="card">
                    <div class="card-body text-center">
                        <figure class="avatar avatar-80 mb-3" title="Malaika Bhavtar"><img src="../../assets/imgs/1.png" alt=""> </figure>
                        <h6>Kid2</h6>
                        <p class="text-secondary">
                            <span appTranslator word="nursary"></span>
                        </p>
                        <a class="btn btn-block btn-warning btn-sm rounded">
                            <span appTranslator word="dailyReport"></span>
                        </a>
                        <a class="btn btn-block disabled btn-info btn-sm rounded">
                            <span appTranslator word="notifications"></span>
                        </a>
                        <a class="btn btn-block disabled btn-success btn-sm rounded">
                            <span appTranslator word="monthlyReport"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mx-0 mb-3">
            <div class="col-12 mb-8">
                <div class="card">
                    <div class="card-body text-center">
                        <figure class="avatar avatar-80 mb-3" title="Malaika Bhavtar"><img src="../../assets/imgs/1.png" alt=""> </figure>
                        <h6>Kid1</h6>
                        <p class="text-secondary">
                            <span appTranslator word="nursary"></span>
                        </p>
                        <a class="btn btn-block btn-warning btn-sm rounded">
                            <span appTranslator word="dailyReport"></span>
                        </a>
                        <a class="btn btn-block disabled btn-info btn-sm rounded">
                            <span appTranslator word="notifications"></span>
                        </a>
                        <a class="btn btn-block disabled btn-success btn-sm rounded">
                            <span appTranslator word="monthlyReport"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper shadow-15">
        <div class="footer">
            <div class="row mx-0">
                <div class="col">
                    Overux
                </div>
                <div class="col-7 text-right">
                    <a href="#" class="social"><img src="./../../assets/img/facebook.png" alt=""></a>
                    <a href="#" class="social"><img src="./../../assets/img/googleplus.png" alt=""></a>
                    <a href="#" class="social"><img src="./../../assets/img/linkedin.png" alt=""></a>
                    <a href="#" class="social"><img src="./../../assets/img/twitter.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="footer dark">
            <div class="row mx-0">
                <div class="col text-center">
                    Copyright @2018, Maxartkiller
                </div>
            </div>
        </div>
    </div>
</div>