<div class="page-content">
    <div class="content-sticky-footer">
        <div class="row mx-0">
            <div class="col-12 col-md-6">
                <div class="card mb-4 box-shadow-large">
                    <div class="card-body text-center">
                        <h1 class="circular avatar avatar-80 bg-primary mb-4"><i class="material-icons icon-3x text-white">help_outline</i></h1>
                        <h4 class="content-color-primary"><span appTranslator word="about"></span></h4>
                        <p class="content-color-secondary"><span appTranslator word="aboutUsTxt"></span></p>
                    </div>
                 
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card mb-4 box-shadow-large">
                    <div class="card-body text-center">
                        <h1 class="circular avatar avatar-80 bg-primary mb-4"><i class="material-icons icon-3x text-white">settings</i></h1>
                        <h4 class="content-color-primary"><span appTranslator word="program"></span></h4>
                        <p class="content-color-secondary"><span appTranslator word="aboutUsProgram"></span></p>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-12  mb-4 text-center">
                <h5 class="content-color-primary"><span appTranslator word="website"></span></h5>
                <p class="content-color-secondary mb-0">
                    <span appTranslator word="websiteUsage"></span>
                </p>
            </div>
            <div class="col-12  mb-4 text-center">
                <h5 class="content-color-primary"><span appTranslator word="mobileApp"></span></h5>
                <p class="content-color-secondary mb-0">
                    <span appTranslator word="mobileAppUsage"></span>
                </p>
            </div>
        </div>
        <div class="text-center">
            <h1 class="circular avatar avatar-80  bg-primary mb-4 mx-auto"><i class="material-icons text-white icon-3x">mail</i></h1>
        </div>
        <h2 class="font-weight-normal mb-4 text-center">Contact us</h2>
        <div class="row  box-shadow mb-4 mx-0">
            <div class="col-12">
                <form class="text-center">
                    <label class="sr-only">Your Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons">person</i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Your name">
                    </div>
                    <br>
                    <label class="sr-only">Inquiry for</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons">help</i></span>
                        </div>
                        <select class="form-control">
                            <option>Template</option>
                            <option>Customization</option>
                            <option>Project</option>
                            <option>Support</option>
                        </select>
                    </div>
                    <br>
                    <label class="sr-only">Email address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons">mail</i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email address">
                    </div>
                    <br>
                    <label class="sr-only">Message</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons">chat</i></span>
                        </div>
                        <textarea rows="3" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <br>
                    <button class="btn btn-block btn-primary btn-lg rounded text-uppercase px-4">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="footer-wrapper shadow-15">
        <div class="footer">
            <div class="row mx-0">
                <div class="col">
                    Overux
                </div>
                <div class="col-7 text-right">
                    <a href="#" class="social"><img src="./../../assets/img/facebook.png" alt=""></a>
                    <a href="#" class="social"><img src="./../../assets/img/googleplus.png" alt=""></a>
                    <a href="#" class="social"><img src="./../../assets/img/linkedin.png" alt=""></a>
                    <a href="#" class="social"><img src="./../../assets/img/twitter.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="footer dark">
            <div class="row mx-0">
                <div class="col  text-center">
                    Copyright @2018, Maxartkiller
                </div>
            </div>
        </div>
    </div>
</div>